.navBurger {
    position: fixed;
    left: 12px;
    top: 12px;
    cursor: pointer;
    background: #111;
    box-sizing: border-box;
    background-clip: content-box;
    width: 4%;
    height: 2.6%;
    max-width: 24px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    transform: rotate(0deg);
    transition: all 0.25s ease-in-out;
}

.navBurger:before,
.navBurger:after {
    content: "";
    position: absolute;
    background: #111;
    height: 2px;
    width: 100%;
    right: 0;
    will-change: rotate;
    transform: rotate(0deg);
    transition: all 0.5s ease;
}

.navBurger:before {
    top: -10px;
}

.navBurger:after {
    bottom: -10px;
}

.navBurger.active {
    background: transparent;
    background-clip: content-box;
}

.navBurger.active:before {
    transform: rotate(135deg);
    top: 0;
    width: 110%;
}

.navBurger.active:after {
    bottom: 0;
    transform: rotate(-135deg);
    width: 110%;
}

.overlay {
    position: fixed;
    background: #e7e7e7;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    opacity: 0;
    transform-origin: left top;
    transform: scale(0);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

.overlay.open {
    opacity: 0.99;
    visibility: visible;
    transform: scale(1);
}

.overlay.open li {
    display: block;
    animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
    animation-delay: 0.4s;
    transform: rotate(-7deg);
    transform-origin: left top;
}

.overlay.open li:nth-of-type(2) {
    animation-delay: 0.2s;
}

.overlay.open li:nth-of-type(3) {
    animation-delay: 0.3s;
}

.overlay.open li:nth-of-type(4) {
    animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(5) {
    animation-delay: 0.5s;
}

.overlay.open li:nth-of-type(6) {
    animation-delay: 0.6s;
}

.overlay.open li:nth-of-type(7) {
    animation-delay: 0.7s;
}

.overlay.open li:nth-of-type(8) {
    animation-delay: 0.8s;
}

.overlay.open li:nth-of-type(9) {
    animation-delay: 0.9s;
}

.overlayMenu {
    position: absolute;
    top: 10vw;
    width: 100%;
}

.overlayMenu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
}

.overlayMenu ul li {
    display: block;
    position: relative;
    opacity: 0;
    width: 100%;
    border-top: 1px solid #6495ed;
}

.overlayMenu ul li a {
    display: block;
    width: 100%;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px 15px 40px;
    transition: 0.2s;
}

.overlayMenu ul li:hover,
.overlayMenu ul li:active,
.overlayMenu ul li:focus {
    transform: translateX(-2px);
    background: #b3c6ea;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 50px;
    }

    100% {
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    background: #eee;
}

.wrapper {
}

.heading {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

.nav-space {
    margin-left: 35%;
}

.content {
    min-height: calc(100vh - 40px);
}

.news-list {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    list-style-type: none;
}

.news-item {
    margin-bottom: 30px;
    background-color: #f3f3f3;
    text-align: center;
}

.title {
    overflow: hidden;
}

.title:hover {
    background: #dadada;
}

.article-item-content {}

.news-image {
    width: 40%;
    height: auto;
    float: left;
}

.image {
    display: block;
    width: 90%;
    margin: 5%;
}

.description {
    float: left;
    width: 60%;
    font-weight: 500;
    padding: 20px 0;
    transition-duration: 0.5s;
}

.news-link {
    color: cornflowerblue;
    text-align: center;
    text-decoration: none;
}

.news-date {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: right;
}

.footer {
    height: 40px;
    background-color: #6495ed;
    text-align: center;
}

.footer .footer-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* On screens that are 320px or less  */
@media screen and (max-width: 320px) {}

/* On screens that are 600px or less  */
@media screen and (max-width: 600px) {
    .overlayMenu ul li a {
        padding: 10px;
    }

    .news-image {
        width: 100%;
        height: auto;
    }

    .description {
        width: 100%;
    }
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
    .navBurger {
        width: 2.5%;
    }

    .title {
        height: 40px;
    }
}
