<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <div class="wrapper">
        <div class="menu-wrapper" id="menu-wrapper"></div>
        <div class="content-wrapper" id="content-wrapper">
            <div class="content">
                <button id="show-news-btn" class="show-news-btn">Show News</button>
                <h1 class="heading">News: </h1>
                <ul id="news-list" class="news-list"></ul>
            </div>
            <footer class="footer"><a class="footer-link" href="https://newsapi.org/">www.newsapi.org</a></footer>
        </div>
    </div>
</body>
</html>
